<div class="container mt-5 coupon-usage">
  <div class="card shadow-sm">
    <div class="card-header bg-info text-white">
      <h1 class="m-0">Aplicar Cupón</h1>
    </div>
    <div class="card-body">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <form>
        <div class="mb-3">
          <label for="redemptionId" class="form-label fw-bold">
            Código de cupón:
          </label>
          <input
            type="text"
            id="redemptionId"
            class="form-control"
            [(ngModel)]="redemptionId"
            name="redemptionId"
            placeholder="Ingresa el Código de cupón"
          />
          <!-- Botón para escanear QR -->
          <div class="text-end mt-2">
            <button 
              type="button" 
              class="btn btn-secondary text-white" 
              (click)="toggleScanner()"
            >
              <i class="bi bi-qr-code-scan"></i> Escanear Cupón
            </button>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary text-white" (click)="onUseCoupon()">
            <i class="bi bi-check-circle"></i> Aplicar Cupón
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Escáner: se muestra si showScanner es true -->
<div *ngIf="showScanner" class="scanner-overlay">
  <div class="scanner-modal">
    <button type="button" class="btn-close float-end" (click)="toggleScanner()"></button>
    <h5>Escanear Código de Cupón</h5>
    <!-- Componente zxing-scanner -->
    <zxing-scanner 
      (scanSuccess)="handleQrSuccess($event)"
      [tryHarder]="true"
      [torch]="false"
    ></zxing-scanner>
  </div>
</div>
