<div class="container mt-5 coupon-usage">
  <div class="card shadow-sm">
    <div class="card-header bg-info text-white">
      <h1 class="m-0">Aplicar Cupón</h1>
    </div>
    <div class="card-body">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <form>
        <div class="mb-3">
          <label for="redemptionId" class="form-label fw-bold">
            ID de Redención:
          </label>
          <input
            type="number"
            id="redemptionId"
            class="form-control"
            [(ngModel)]="redemptionId"
            name="redemptionId"
            placeholder="Ingresa el ID de redención"
          />
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-info text-white" (click)="onUseCoupon()">
            <i class="bi bi-check-circle"></i> Aplicar Cupón
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
