.login-container {  
  background: linear-gradient(135deg, #e0d4bb 0%, #d5c49e 100%); 
}

.login-row {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 100%; 
  margin: 20%; 
  margin-top: 10%;
}

.login-img {
  object-fit: cover;
}
